.box{
    padding-top: 100px;
    padding-bottom: 100px;
}
.box1{
    width: 80%;
    margin: auto;

}

.box2{
    
    font-family: Open Sans,Arial,sans-serif;
   
}

.box_innertxt{
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
     text-align: left;
    color: #666;
    line-height: 1.7em;
  
    font-weight: 500;
}